card {
  width: 64px;
  height: 64px;
  display: inline-flex; }
  card > div {
    width: 64px;
    height: 64px;
    border: 1px solid #3c3c3c;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    background: #9E9E9E; }
    card > div.active {
      background: rgba(255, 255, 0, 0.83);
      border-color: rgba(255, 255, 0, 0.83); }
  card .number.ui.segments {
    border: none; }
    card .number.ui.segments > .ui.segments {
      border: none; }
  card .player.ui.segment {
    height: 100%;
    margin: 0px; }
