.figure .ui.segments {
  border: none;
  box-shadow: none;
  margin: 0px; }
  .figure .ui.segments .ui.segment {
    min-width: 20px;
    min-height: 20px;
    background: black;
    border: 1px solid white;
    padding: 0px; }
    .figure .ui.segments .ui.segment.empty {
      background: white; }
