#players .player {
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.5; }
  #players .player.active {
    opacity: 1; }
  #players .player .name {
    display: block;
    background: #FFC107;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 5px; }
  #players .player .player-cards {
    margin-bottom: -10px;
    min-height: 19px; }
    #players .player .player-cards .player-card {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%; }
      #players .player .player-cards .player-card:not(:last-child) {
        margin-right: 3px; }
  #players .player .hand > .horizontal.segments {
    margin-bottom: 0px; }
    #players .player .hand > .horizontal.segments > .ui.segment {
      padding: 0px; }
