#players .player {
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.5; }
  #players .player.active {
    opacity: 1; }
  #players .player.finished {
    border: 1px solid red; }
  #players .player > .ui.horizontal.segments {
    margin: 0px 0px 5px 0px; }
    #players .player > .ui.horizontal.segments .ui.segment {
      padding: 2px 0px; }
      #players .player > .ui.horizontal.segments .ui.segment .circular.label {
        margin-top: 2px; }
      #players .player > .ui.horizontal.segments .ui.segment.name {
        margin-top: 5px;
        font-weight: bold; }
  #players .player .player-cards {
    margin-bottom: -10px;
    min-height: 19px; }
    #players .player .player-cards .player-card {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%; }
      #players .player .player-cards .player-card:not(:last-child) {
        margin-right: 3px; }
  #players .player .hand > .horizontal.segments {
    margin-bottom: 0px; }
    #players .player .hand > .horizontal.segments > .ui.segment {
      padding: 0px; }
