$size: 20px;

.figure{
    .ui.segments{
        border: none;
        box-shadow: none;
        margin: 0px;
    
        .ui.segment{
            min-width: $size;
            min-height: $size;
            background: black;
            border: 1px solid white;
            padding: 0px;
            
            &.empty{
                background: white;
            }
            
        }
    }
}