#players{
    .player{
        border: 1px solid black; 
        display: inline-block;
        padding: 10px;
        border-radius: 10px;
        opacity: 0.5;
    
        &.active{
            opacity: 1;
        }

        .name{
            display: block;
            background: #FFC107;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 5px;
            border-radius: 5px;
        }
        
        .player-cards{
            margin-bottom: -10px;
            min-height: 19px;

            .player-card{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                
                &:not(:last-child){
                    margin-right: 3px;
                }
            }
        }
        
        .hand > .horizontal.segments {
            margin-bottom: 0px;
            
            & > .ui.segment{
                padding: 0px;
            }
        }
    }
}