<div class="number card" ng-class="{'active' : numberCard.active}">
    <span class="black die" ng-class="numberCard.numbers.black ? 'die-'+numberCard.numbers.black : 'die-cross'"></span>
    <span class="green die" ng-class="numberCard.numbers.green ? 'die-'+numberCard.numbers.green : 'die-cross'"></span>
    <span class="blue die" ng-class="numberCard.numbers.blue ? 'die-'+numberCard.numbers.blue : 'die-cross'"></span>
    <span class="white die" ng-class="numberCard.numbers.white ? 'die-'+numberCard.numbers.white : 'die-cross'"></span>
</div>