<div class="ui player-board modal">
    <div class="header" ng-style="{'background-color': player.color}">{{player.name}}</div>
    <div class="content">
        <div class="ui grid">
            <div id="messages" class="row">
                <div class="ui icon message" ng-if="ctrl.message" ng-class="ctrl.message.type">
                    <i class="warning circle icon"></i>
                    <div class="content">
                        <div class="header">{{ctrl.message.header}}</div>
                        <p>{{ctrl.message.message}}</p>
                    </div>
                </div>
            </div>
            <div class="centered row" ng-if="figure.length">
                <div class="ui divided grid">
                    <div class="two column middle aligned row">
                        <div class="column">
                            <b>Agregar figura</b>
                        </div>
                        <div class="column">
                            <figure figure="figure"></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="board centered row">
                <div class="ui compact segments">
                    <div class="ui horizontal segments" ng-repeat="row in player.board.rows">
                        <div class="ui segment" ng-repeat="card in row" >
                            <card ng-click="changeActive(card)" card="card"></card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black button" ng-click="hideBoard()">Cerrar</div>
    </div>
</div>